<h2 class="text-center mb-5">Formulaire d'inscription</h2>

<%= simple_form_for(@user, html: { class: 'form-group' }, defaults: 
                                                        { input_html: { class: 'col-8' },
                                                          label_html: { class: 'col-4' },
                                                          wrapper_html: { class: 'form-inline' }} ) do |f| %>

    <%= f.input :first_name, label: 'Prénom', error:'Prénom invalide'%>
    <%= f.input :last_name, label: 'Nom', error:'Nom invalide' %>
    <%= f.input :birthday,label: 'Date de naissance', as: :date, start_year: Date.today.year - 90,
                                                        end_year: Date.today.year - 16,
                                                        order: [:day, :month, :year],
                                                        input_html: {class:'col-5'} %>
    <%= f.input :job, label: 'Profession' %>
    <%= f.input :email, label:'Email', as: :email, placeholder:'utilisateur@domaine.com', required: true %>
    <%= f.input :number, label: 'Choisis un nombre', hint:'Le nombre doit être compris entre 0 et 10', required: true,input_html:{ class:'col-3 mr-3', min: 0, max: 10 }, error:'Le nombre saisi n\'est pas compris entre 0 et 10' %>
    
    <div class="d-flex justify-content-center btn-container">                                                    
      <%= f.button :submit, class: 'btn-signUp', value: 'S\'inscrire', data: { disable_with: 'Traitement...' }  %>
      <span class="btn-vinci"></span>
    </div>    

<% end %>

<script>

  $('.btn-signUp').mouseenter(function () {

      $('.btn-vinci').animate(
        { deg: 360 },
        {
          duration: 1200,
          step: function(now) {
            $(this).css({ transform: 'rotate(' + now + 'deg)' });
          }
        }
      );  
    });

    $('.btn-signUp').mouseleave(function(){

      $('.btn-vinci').animate(
        { deg: -360 },
        {
          duration: 1200,
          step: function(now) {
            $(this).css({ transform: 'rotate(' + now + 'deg)' });
          }
        }
      ); 
    });

</script>